{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "printWidth": 100 ,
    "singleQuote": true,
    "overrides": [
        {
          "files": "*.html",
          "options": {
            "singleQuote": false
            }
        }
      ]
  }
