.page.theme_dark {
  --accent-color: #ff0070;
  --text-shadow-color: #ff0070;
  --accent-heading-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-heading-color: #ff0070;
  --heading-color-with-bg: #000028;
  --main-cover-image: url(../images/cover-image-dark.png);
  --bg-accent-color: #ff0070;
  --decor-accent-color: #ff0070;
  --rec-decoration-color: #ff0070;
  --default-border-color: #ff0070;
  --button-hover-color: rgba(255 0 112 / 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-shadow-color: #ff0070;
    --accent-heading-color: #db00ff;
    --main-text-color: #f1b2ce;
    --main-heading-color: #ff0070;
    --heading-color-with-bg: #000028;
    --main-cover-image: url(../images/cover-image-dark.png);
    --bg-accent-color: #ff0070;
    --decor-accent-color: #ff0070;
    --rec-decoration-color: #ff0070;
    --default-border-color: #ff0070;
    --button-hover-color: rgba(255 0 112 / 0.4);
  }
}
