/* Делаю "дубли" цветов в разных переменных, тк семантически корректно названные переменные должны однозначно говорить о том,
зачем нужна сущность/переменная, чтобы избежать ошибок и было сразу понятно, где и что именно менять */

.page.theme_dark {
  --menu-accent-color: #ff0070;
  --text-shadow-color: #ff0070;
  --accent-heading-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-heading-color: #ff0070;
  --heading-color-with-bg: #000028;
  --bg-color: #000028;
  --main-cover-image: url(../images/cover-image-dark.png);
  --bg-accent-color: #ff0070;
  --decor-accent-color: #ff0070;
  --rec-accent-color: #ff0070;
  --rec-decoration-color: #ff0070;
  --default-border-color: #ff0070;
  --button-hover-color: rgba(255 0 112 / 0.4);
  --dec-icon-display-state: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --menu-accent-color: #ff0070;
    --text-shadow-color: #ff0070;
    --accent-heading-color: #db00ff;
    --main-text-color: #f1b2ce;
    --main-heading-color: #ff0070;
    --heading-color-with-bg: #000028;
    --bg-color: #000028;
    --main-cover-image: url(../images/cover-image-dark.png);
    --bg-accent-color: #ff0070;
    --decor-accent-color: #ff0070;
    --rec-accent-color: #ff0070;
    --rec-decoration-color: #ff0070;
    --default-border-color: #ff0070;
    --button-hover-color: rgba(255 0 112 / 0.4);
    --dec-icon-display-state: flex;
  }
}
