.page.theme_light {
  --accent-color: #353430;
  --text-shadow-color: #ff8dcb;
  --accent-heading-color: #ffc2e6;
  --main-text-color: #353430;
  --main-heading-color: #353430;
  --heading-color-with-bg: #353430;
  --bg-color: #fff1f7;
  --main-cover-image: url(../images/cover-image-light.png);
  --bg-accent-color: #ff8dcb;
  --decor-accent-color: #353430;
  --rec-decoration-color: transparent;
  --default-border-color: #353430;
  --button-hover-color: rgba(50 49 45 / 0.4);
}

.page.theme_light .header__decorative-icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --text-shadow-color: #ff8dcb;
    --accent-heading-color: #ffc2e6;
    --main-text-color: #353430;
    --main-heading-color: #353430;
    --heading-color-with-bg: #353430;
    --bg-color: #fff1f7;
    --main-cover-image: url(../images/cover-image-light.png);
    --bg-accent-color: #ff8dcb;
    --decor-accent-color: #353430;
    --rec-decoration-color: transparent;
    --default-border-color: #353430;
    --button-hover-color: rgba(50 49 45 / 0.4);
  }

  .theme_light .header__decorative-icon {
    display: none;
  }

  .theme_auto .header__decorative-icon {
    display: none;
  }
}
