/* общие стили для страницы */

.page {
  margin-inline: auto;
  margin-block: 0;
  color: var(--main-text-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: var(--main-cover-image) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

/* Стили для шапки сайта, секция header */

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: start;
  padding-inline: 1.25rem;
  padding-block: 1.25rem;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.header__decorative-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.62rem;
  color: var(--decorative-accent-color);
  font-family: "IBM Plex Mono";
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
  inset-block-start: 1.25rem;
  inset-inline-end: 3rem;
}

.header__decorative-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  padding-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--rec-decoration-color);
  background-color: var(--bg-accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: flex-start;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  border: none;
  padding-inline: 13px;
  outline: 1px solid transparent;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background: transparent;
  min-block-size: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--default-border-color);
  pointer-events: none;
}

.header__title {
  align-self: flex-start;
  margin-inline-start: -1.25rem;
  color: var(--accent-heading-color);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--main-header-font-size-desktop);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--text-shadow-color);
}

.header__subtitle {
  display: flex;
  justify-self: end;
  align-self: center;
  max-inline-size: 50%;
}

.title-decor {
  color: var(--heading-color-with-bg);
  font-weight: 700;
  line-height: 130%;
  background: var(--bg-accent-color);
}
