:root {
  --gap: 1.25rem;
  --accent-color: #ff0070;
  --text-shadow-color: #ff0070;
  --accent-heading-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-heading-color: #ff0070;
  --heading-color-with-bg: #000028;
  --main-cover-image: url(../images/cover-image-dark.png);
  --bg-accent-color: #ff0070;
  --decor-accent-color: #ff0070;
  --rec-decoration-color: #ff0070;
  --default-border-color: #ff0070;
  --button-hover-color: rgba(255 0 112 / 0.4);
  --main-title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --default-padding-desktop: 1.25rem;
  --default-padding-small: 0.625rem;
  --default-margin-desktop: 1.25rem;
  --default-margin-small: 0.625rem;
  --inset-desktop: 1.25rem;
  --inset-mobile: 0.625rem;
}
